# -*- mode: snippet -*-
# name: list-renewal:
# key: list-renewal:
# --
Renewal: ${1:project} - ${2:product} due ${3:January 1st} [0/5]

- [ ] Statement of Work
- [ ] Procurement approval
- [ ] Legal approval
- [ ] Purchase order
- [ ] Signatures

