# -*- mode: snippet -*-
# name: list-directs:
# key: list-directs:
# --
- [ ] Ravi Manthena
- [ ] Chetan Patel
- [ ] Gabriel Oscares
- [ ] Shantanu Sinha
- [ ] Prasann Grampurohit
- [ ] Pankaj Rastogi
- [ ] Suganya Moorthy
