# -*- mode: snippet -*-
# name: org-list-directs:
# key: org-list-directs:
# --
- [ ] Ravi Manthena
- [ ] Chetan Patel
- [ ] Shantanu Sinha
- [ ] Prasann Grampurohit
- [ ] Pankaj Rastogi
- [ ] Suganya Moorthy
