# -*- mode: snippet -*-
# name: adr:
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: adr:
# --

# `(file-name-sans-extension (file-name-nondirectory (buffer-file-name)))` #

## ${1:ADR title} ##

## Context ##

$0

### Considerations ###

### Options ###

## Decision ##

## Consequences ##