# -*- mode: snippet -*-
# name: meeting:
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: meeting:
# --

# Meeting notes #

## Attendees ##

- Stu W
- 

## Agenda ##

## Notes ##
