# -*- mode: snippet -*-
# name: one-on-one:
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: mermaid-mindmap:
# --

\`\`\`mermaid
mindmap
  ${1:root}
    ${2:concept}
    $0
\`\`\`

