# -*- mode: snippet -*-
# name: dpop:
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: dpop:
# --
---
tags:
  - dpop-in-flight
  - ${1:`(sbw/markdown-select-tag)`}
---

# DPOP-${1}

## Links ##

- JIRA Epic: TODO
- Confluence: TODO

## Overview ##

