# -*- mode: snippet -*-
# name: one-on-one:
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: one-on-one:
# --

---
tags:
  - one-on-one
updated: 1970-01-01
---

# ${1:name} #

<!-- markdown-toc start - Don't edit this section. Run M-x markdown-toc-refresh-toc -->
## Table of contents ##

- TODO

<!-- markdown-toc end -->

## Current status ##

## PDPs ##

## Highlights ##

## Actions ##

## Timeline ##

