# -*- mode: snippet -*-
# name: one-on-one-series:
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: one-on-one-series:
# --

---
tags:
  - one-on-one
updated: 2026-10-05
---

# ${1:name} #

## My notes ##

## Highlights ##

## Timeline ##

