# -*- mode: snippet -*-
# name: status-update:
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: status-update:
# --

# Bi-weekly status update - `(s-trim-right (shell-command-to-string "gdate --date='next friday + 7 days' '+%Y-%m-%d'"))` #

## Business goals ##

- InsightGraph
    - TBD

- Core Complete
    - TBD

- Rapid LLM evaluation
    - TBD

- Data quality
    - TBD


- D2M
    - TBD

## Focus areas ##

- Training and development
    - TBD

- Internal mobility
    - TBD

- Engineering performance
    - TBD

## Teams, people, and culture ##

- Taxonomies and VOICE
    - VOICE
        - TBD
    - DKP
        - TBD

- Foundations
    - TBD

- Consumption
    - TBD

- Concepts
    - TBD

- People
    - TBD

## Highlights ##

- TBD

## Other things ##

- TBD
