# -*- mode: snippet -*-
# name: one-on-one-meeting:
# expand-env: ((yas-indent-line 'fixed) (yas-wrap-around-region 'nil))
# key: one-on-one-meeting:
# --

### `(format-time-string "%Y-%m-%d %a")` ###

#### My topics ####

- $0

#### Their topics ####

#### Actions ####

---