.org-id-locations
.smex-items
.yas-compiled-snippets.el
ac-comphist.dat
backups/
bookmarks
el-get/
elpa/
eshell
projectile-bookmarks.eld
projectile.cache
recentf
server/
speed-type/
temp/
tramp
url/
org-gcal/